@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

$bg: #f1f4f5;
$dark: #010101;
$focus: #3071f2;

$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: "Oswald", sans-serif;
