@import "../../../assets/styles/variables";
@import "../../../assets/styles/animations";

.cont {
  background-color: $dark;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  color: $bg;
  justify-content: space-between;

  nav {
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 5px 10px;
  }

  a {
    text-decoration: none;
    color: $bg;
    transition: 0.3s;

    &:hover {
      color: $focus;
    }

    &.active {
      color: red;
    }
  }

  input {
    margin: 5px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    border-color: $bg;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    color: $bg;
    font-family: $default-font;
    font-size: 15px;
  }

  .plusCont {
    display: flex;
    align-items: center;

    svg {
      position: relative;
      top: 3px;
    }
    svg {
    }
  }

  .profileButton {
    margin-top: 5px;

    svg {
      position: relative;
      top: 2px;
    }
  }
}
