@import '../../../assets/styles/variables';
@import '../../../assets/styles/animations';

.cont {
  position: sticky;
  background-color: $dark;
  top: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 15px;
  padding: 5px;
  color: $bg;
  align-items: center;
  justify-content: space-between;

  @media screen and (width < 930px) {
    //flex-direction: column;
  }

  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: $bg;
    transition: 0.2s;

    &:hover {
      color: $focus;
    }
  }

  form {
    flex: 2;
    padding: 0 10px;

    @media screen and (width < 930px) {
      flex: 1;
    }
  }

  input {
    margin: 5px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    border-color: $bg;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: $default-font;
    font-size: 15px;
  }

  .plusCont {
    svg {
      position: relative;
      top: 5px;
    }
    svg {
    }
  }

  .profileButton {
    svg {
      position: relative;
      top: 2px;
    }
  }
}
